h2 {
  color: DarkRed;
  text-align: left;
  font-size: 20px;
  font-family: "Avant Garde";
  margin-bottom: 2px;
}

.Bluemooses {
  font-size: 16px;
  text-align: center;
  color: White;
  font-family: Helvetica, serif;
  background-image: url("https://i.imgur.com/INdfD3Q.jpg");
  background-size: auto;

}

.Greenthumb{
font-style: italic;
font-family: "Times New Roman", Serif;
color: DimGray;

}

h6{
  text-align: left;
  margin-bottom: 2px;


}

address {
  color: White;

}
a:link{
  color: White;
}
a:visited {
  color: Black;
}
a:hover{
  color: DarkRed;
}
