h2 {
  color: DarkRed;
  text-align: left;
  font-size: 20px;
  font-family:
}

.Bluemooses {
  font-size: 20px;
  text-align: center;
  color: Maroon;
  font-family:serif, Helvetica;
  background-image: url("https://i.imgur.com/TkOE6AA.png");
  background-size: contain;

}

.Greenthumb{
font-style: italic;
font-family: cursive;
}
