h2 {
    color: DarkRed;
text-align: left;
    font-size: 20px;
      font-family: "Avant Garde";
 margin-bottom: 0px;
 margin-top: 15px;
 text-decoration: underline;
}

h4{
text-align: left;
 margin-bottom:2px;
 margin-top:2px;
}

ul {
text-align: left;
 margin-bottom:10px;
 margin-top:0px;
      font-weight:bolder;
    text-indent: -2em;
  text-decoration: underline;

}

h6{
text-align: left;
 margin-bottom: 2px;
 margin-top:8px;


}
.Bluemooses {
      font-size: 16px;
text-align: center;
    color: White;
      font-family: Helvetica, serif;
            background-image: url("https://i.imgur.com/INdfD3Q.jpg");
              background-size:cover;

}

.Greenthumb{
          font-style: italic;
      font-family: "Times New Roman", Serif;
   color: DimGray;
                  font-weight: bolder;
}

a:{
                  font-weight:bold;

}
a:link{
   color: White;
}
a:visited {
   color: Black;
}
a:hover{
   color: DarkRed;
}
h5{
      font-size: 16px;
   color: DarkSlateBlue;
  margin-bottom: 0px;
  margin-top: 2px;
<<<<<<< HEAD
                  font-weight: 10000;
=======
  font-weight: 2000;
>>>>>>> 0e2f3a6fe389849f73f0e2e4c33d5b96ecb2bccc
}
.spacingfix {

  margin-top: 10px !important;
  margin-bottom: 3px !important;
}
